.Rproj.user
.Rhistory
.RData
.Ruserdata

# Ignore Python virtual environment
.venv/

# Ignore VS Code settings
.vscode/

# Ignore Python bytecode
__pycache__/
*.pyc

# Ignore system files
.DS_Store
Thumbs.db